main {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .main-content {
    display: inline;
    flex-direction: column;
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.5em;
}

main .main-content .text {
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 40%;
}

main .main-content .text p {
    width: 50%;
    font-size: 1.9em;
    font-weight: 100;
    line-height: 1.6;
    padding-right: 1vh;
}

main figure {
    float: right;
    width: 30%;
}

main figure img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    
    border: 5px #00e0ff solid;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

main figure img:hover {
    box-shadow: 0px 0px 6px #00e0ff;
}

main .techs .cards-container {
    display: flex;
    align-items: center; 
}

main .techs .cards-container .card {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 8px;
    margin-right: 0.9em;
    margin-left: 0.9em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 0.25 ease-in-out;
}

main .techs .cards-container .card img {
    width: 80%;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px#00e0ff;
}

.projetos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    
}

main .techs .projetos .card2 img{
    height: 125px;
    display: flex;
    flex-direction: column;
    margin-right: 1.9em;
    margin-left: 1.9em;
    align-items: center; 
    justify-content: space-between;
    
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 200px;
}

main .techs .projetos .card2 img:hover {
    box-shadow: 0px 0px 6px #00e0ff;
}

